.missions {
  padding: 90px 10px;
  overflow: hidden;

  @media (max-width: 500px) {
    padding: 50px 0;
  }

  &__container {
    max-width: 1300px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
  }

  &__head {
    position: relative;
    height: 380px;
    max-width: 575px;
    display: flex;
    align-items: center;

    img {
      object-fit: cover;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 320px;
    }
  }

  &__title {
    position: relative;
    text-align: center;
    z-index: 5;
    font-weight: 400;

    @media (max-width: 500px) {
      font-size: 40px;
    }

    @media (max-width: 500px) {
      font-size: 30px;
      line-height: 140%;
      margin-bottom: 0;
    }
  }

  &__wrapper {
    margin-top: 20px;
    position: relative;
    max-width: 1225px;
    width: 100%;

    .missions__slider {
      @media (max-width: 500px) {
        overflow: initial;
      }
    }
  }

  &__slider {
    max-width: 1300px;
    padding: 0 10px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: linear-gradient(90deg, #FFFFFF 10%, rgba(255, 255, 255, 0) 100%);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 15%;
      top: 0;
      left: 0;
      z-index: 10;
    }

    &::after {
      content: '';
      position: absolute;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 90%);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: translateX(-180deg);
      height: 100%;
      width: 15%;
      top: 0;
      right: 0;
      z-index: 10;
    }

    @media (max-width: 500px) {
      &::before, &::after {
        display: none;
      }
    }
  }

  &__slider-container {
    padding: 0 15px;
  }

  &__slide-wrapp {
    height: 162px;

    @media (max-width: 768px) {
      height: 250px;
    }

    @media (max-width: 500px) {
      height: 200px;
    }
  }

  &__slide-image {
    height: 100%;

    img {
      height: 100%;

      @media (max-width: 500px) {
        border-radius: 10px;
      }
    }
  }

  &__slider-btn {
    position: absolute;
    top: calc(50% - 3px);
    transform: translateY(-50%);
    z-index: 5;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    @media (max-width: 500px) { display: none }
  }

  &__scrollbar {
    margin-top: 20px;
    height: 2px;

    @media (max-width: 500px) { display: none }
  }

  &__btn { margin-top: 40px }
}
